.logo-box {
	width:100%;
	background:#24272C;
	border-bottom:1px solid #d6dfea;
}
.logo-content {
	height:66px;
	line-height:66px;
	width:1000px;
	margin:0 auto;
}
.logo-img {
	height:66px;
	margin-right:5px
}
.footer-box a,.mid_r a {
	font-size:14px;
	color:#ccc;
	padding:0 10px;
	border-right:2px solid #ccc;
}
.footer-box a:hover {
	color:#39A5F0
}
.login-bottom-box>a:last-child,.mid_r a:last-child {
	border:none;
	padding-right:0;
}
h3 {
	line-height:66px;
	color:#000;
	font-size:22px;
}
.qisi {
	color:green;
}
.copyright {
	text-align:center;
	font-size:14px;
	color:#999;
	margin-bottom:10px;
}
.copyright p {
	margin:5px 0;
	color: #fff;
}
.footer-box {
	position:fixed;
	bottom:0;
	padding:10px 0;
	width:100%;
	background-color:#24272C;
	text-align:center;
}
.securtyCenter,.resetpassword{
	font-size: 22px;
	color:#fff;
	font-weight: bold;
}
.logo-left .mid_r a{
	color: #fff;
}
.caption .resetpassword{
	font-weight: normal;
	margin-left: 10px;
	padding-left: 10px;
	border-left:1px solid #ccc;
}
.content-box{
	width:100%;
}
.content-top{
	height:80px;
	width:100%;
	margin-top:1px;
	text-align: center;
	background: #F5F5F5;
}
.import-box{
	width:1000px;
	height:400px;
	margin: 0 auto;
	margin-top: 50px;
}
