
.logo-box {
	width:100%;
	background:#24272C;;
	border-bottom:1px solid #d6dfea;
}
.logo-content {
	height:66px;
	line-height:66px;
	width:1000px;
	margin:0 auto;
}
.logo-left span{
	font-size: 20px;
	color:#fff;
	font-weight: bold;
	margin-right: 20px;
}
.footer-box a,.mid_r a {
	font-size:14px;
	color:#ccc;
	padding:0 10px;
	border-right:2px solid #ccc;
}
.footer-box a:hover {
	color:#39A5F0
}
.login-bottom-box>a:last-child,.mid_r a:last-child {
	border:none;
	padding-right:0;
}
h3 {
	line-height:66px;
	color:#000;
	font-size:22px;
}
.qisi {
	color:#000;
}
.copyright {
	text-align:center;
	font-size:14px;
	color:#999;
	margin-bottom:10px;
}
.copyright p {
	margin:5px 0;
	color:#fff;
}
.footer-box {
	position:fixed;
	bottom:0;
	padding:10px 0;
	width:100%;
	background-color:#24272C;
	text-align:center;

}
.content-box{
	width:100%;
	margin-top:40px;
	color:#666666;
}
.contentTop,.contentBottom{
	width:1000px;
	margin:0 auto;	
}
em{
	color:red;
	padding-right:3px;
}
.contentTop>p>span:first-child,.contentBottom>p>span:first-child,.contentTop>p>label,.contentBottom>p>label{
	display: inline-block;
	width:280px;
	text-align: right;
	margin-right: 20px;
}
.contentTop>p,.contentBottom>p{
	line-height: 55px;
}
.content-box{
	font-size: 14px;
    height:800px;
}
.contentTop>p>span:first-child,.contentBottom>p>span:first-child{
    font-size: 16px;
    font-weight: bold;
    color:#000;
}
.contentTop{
	border-bottom: 1px dotted #333;
	padding-bottom:30px;
}
.contentBottom{
	margin-top: 30px;
}
input[type="text"],input[type="password"],input[type="email"]{
	height:40px;
	width: 268px;
	font-size: 14px;
	padding-left:10px;
	border:1px solid #ccc;
}
input[type="button"]{
	border:none;
	display: inline-block;
	width:150px;
	background: #808080;
	line-height: 40px;
	height:40px;
	color:#fff;
	font-size: 18px;
	border-radius: 3px;
	cursor: pointer;
	line-height: 40px;
}
label[for="hdyz"]{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width:280px;
	text-align: right;
	margin-right: 20px;
}
.inPhoneNum{
	display: inline-block;
	height:40px;
	width: 50px;
	text-align: center;
	border:1px solid #ccc;
	line-height: 40px;
	border-right: none;
}
#phoneNum{
	width:217px;
}
#company{
	margin-left: 30px;
}
.error{
	color:red;
	font-size: 14px;
	margin-left: 20px;
	display: none;
}