.logo-box{
	width:100%;
	height:80px;
	line-height: 80px;
	font-size: 18px;
	color: #fff;
	background:#24272C;
}
.logo-content{
	width:94%;
	height:100%;
	margin:0 auto;
}
.content-box{
	
}
.loginMask{
	background: rgba(0,0,0,.5);
	padding:40px;
	width:240px;
	height:340px;
	position: absolute;
	top:50%;
	right:17%;
	margin-top:-190px;
}
.login-header{
	text-align: center;
	font-size: 20px;
	padding:10px 0px;
	color:#fff;
}
.userInf li:first-child,.userInf li:nth-child(2){
	background: #fff;
	width:100%;
	margin-bottom: 15px;
}
.userInf li img{
	vertical-align: middle;
	padding:0px 5px;
	display: inline-block;
}
.userInf li input[type="text"],.userInf li input[type="password"]{
	width:205px;
	height:40px;
	border:none;
	outline: none;
}
input[type="checkbox"]{
	vertical-align: middle;
}
.footer-box{
	position: fixed;
	background: #24272C;
	bottom: 0;
	width:100%;
	text-align: center;
	padding:20px 0;
}
.footer-box p{
	line-height: 20px;
	color:#fff;
}
.selectBox{
	margin-bottom: 10px;
}
.selectBox select{
	font-size: 12px;
	height:22px;
	width:80px;
	border: none;
}
.selectBox label{
	font-size: 14px;
	color:#fff;
}
.loginBottomBox{
	text-align: right;
	margin-top: 20px;
}
.loginBottomBox a{
	color:#fff;
	font-size: 14px;
	margin-left: 17px;
}